UMI3D-Browser-Desktop/UIElementsSchema/umi3d.commonScreen.game.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:editor="UnityEditor.UIElements" xmlns:engine="UnityEngine.UIElements" xmlns="UnityEditor.Overlays" elementFormDefault="qualified" targetNamespace="umi3d.commonScreen.game" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:simpleType name="Cursor_C_state_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Enabled" />
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Hover" />
      <xs:enumeration value="Active" />
      <xs:enumeration value="Focus" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Cursor_CType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="Enabled" name="state" xmlns:q1="umi3d.commonScreen.game" type="q1:Cursor_C_state_Type" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cursor_C" substitutionGroup="engine:VisualElement" xmlns:q2="umi3d.commonScreen.game" type="q2:Cursor_CType" />
  <xs:simpleType name="Game_C_controller_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MouseAndKeyboard" />
      <xs:enumeration value="Touch" />
      <xs:enumeration value="GameController" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Game_CType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="MouseAndKeyboard" name="controller" xmlns:q3="umi3d.commonScreen.game" type="q3:Game_C_controller_Type" use="optional" />
        <xs:attribute default="false" name="left-hand" type="xs:boolean" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Game_C" substitutionGroup="engine:VisualElement" xmlns:q4="umi3d.commonScreen.game" type="q4:Game_CType" />
  <xs:simpleType name="LeadingArea_C_controller_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MouseAndKeyboard" />
      <xs:enumeration value="Touch" />
      <xs:enumeration value="GameController" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LeadingArea_CType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="MouseAndKeyboard" name="controller" xmlns:q5="umi3d.commonScreen.game" type="q5:LeadingArea_C_controller_Type" use="optional" />
        <xs:attribute default="false" name="left-hand" type="xs:boolean" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeadingArea_C" substitutionGroup="engine:VisualElement" xmlns:q6="umi3d.commonScreen.game" type="q6:LeadingArea_CType" />
  <xs:simpleType name="NotificationCenter_C_filter_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="New" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NotificationCenter_CType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="All" name="filter" xmlns:q7="umi3d.commonScreen.game" type="q7:NotificationCenter_C_filter_Type" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotificationCenter_C" substitutionGroup="engine:VisualElement" xmlns:q8="umi3d.commonScreen.game" type="q8:NotificationCenter_CType" />
  <xs:simpleType name="TopArea_C_controller_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MouseAndKeyboard" />
      <xs:enumeration value="Touch" />
      <xs:enumeration value="GameController" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TopArea_CType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="MouseAndKeyboard" name="controller" xmlns:q9="umi3d.commonScreen.game" type="q9:TopArea_C_controller_Type" use="optional" />
        <xs:attribute default="false" name="is-expanded" type="xs:boolean" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TopArea_C" substitutionGroup="engine:VisualElement" xmlns:q10="umi3d.commonScreen.game" type="q10:TopArea_CType" />
  <xs:complexType name="UserList_CType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="engine:VisualElement" />
        </xs:sequence>
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserList_C" substitutionGroup="engine:VisualElement" xmlns:q11="umi3d.commonScreen.game" type="q11:UserList_CType" />
  <xs:simpleType name="NotifAndUsersArea_C_panel_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Notifications" />
      <xs:enumeration value="Users" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NotifAndUsersArea_CType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="Notifications" name="panel" xmlns:q12="umi3d.commonScreen.game" type="q12:NotifAndUsersArea_C_panel_Type" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotifAndUsersArea_C" substitutionGroup="engine:VisualElement" xmlns:q13="umi3d.commonScreen.game" type="q13:NotifAndUsersArea_CType" />
  <xs:simpleType name="TrailingArea_C_controller_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MouseAndKeyboard" />
      <xs:enumeration value="Touch" />
      <xs:enumeration value="GameController" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TrailingArea_CType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="MouseAndKeyboard" name="controller" xmlns:q14="umi3d.commonScreen.game" type="q14:TrailingArea_C_controller_Type" use="optional" />
        <xs:attribute default="false" name="display-object-menu" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="display-emote-window" type="xs:boolean" use="optional" />
        <xs:attribute default="false" name="left-hand" type="xs:boolean" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrailingArea_C" substitutionGroup="engine:VisualElement" xmlns:q15="umi3d.commonScreen.game" type="q15:TrailingArea_CType" />
  <xs:simpleType name="GamePanel_C_current-view_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Loader" />
      <xs:enumeration value="GameMenu" />
      <xs:enumeration value="Game" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GamePanel_CType">
    <xs:complexContent mixed="false">
      <xs:restriction base="engine:VisualElementType">
        <xs:attribute default="" name="name" type="xs:string" use="optional" />
        <xs:attribute default="" name="view-data-key" type="xs:string" use="optional" />
        <xs:attribute default="Position" name="picking-mode" type="engine:VisualElement_picking-mode_Type" use="optional" />
        <xs:attribute default="" name="tooltip" type="xs:string" use="optional" />
        <xs:attribute default="None" name="usage-hints" type="engine:VisualElement_usage-hints_Type" use="optional" />
        <xs:attribute default="0" name="tabindex" type="xs:int" use="optional" />
        <xs:attribute default="false" name="focusable" type="xs:boolean" use="optional" />
        <xs:attribute default="" name="class" type="xs:string" use="optional" />
        <xs:attribute default="" name="content-container" type="xs:string" use="optional" />
        <xs:attribute default="" name="style" type="xs:string" use="optional" />
        <xs:attribute default="Game" name="current-view" xmlns:q16="umi3d.commonScreen.game" type="q16:GamePanel_C_current-view_Type" use="optional" />
        <xs:anyAttribute processContents="lax" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GamePanel_C" substitutionGroup="engine:VisualElement" xmlns:q17="umi3d.commonScreen.game" type="q17:GamePanel_CType" />
</xs:schema>